.textBlocksSectionContainer {
  display: inline-block;
  justify-content: center;
  width: 100%;
  background-color: rgba(147, 201, 240, 0.8);
  border-radius: 70px;
  padding-bottom: 40px;
}

.textBlocksSectionTextContainer {
  display: flex;
  width: 90%;
  text-align: center;
  background-color: white;
  border-radius: 60px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: 400;
  margin-left: 5%;
}

.textBlocksSectionText {
  text-align: center;
  align-items: center;
  padding: 40px;
}
