.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 70px;
  min-height: 20%;
  min-height: 20%;
  margin-bottom: 55px;
  background-color: white;
  margin-top: 87px;
}

.pageName {
  font-size: 7vw;
  font-weight: 700;
  color: #ffb67d;
  padding-bottom: 30px;
}

.mainPageContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 70px;
  height: 476px;
  margin-bottom: 10px;
  background-color: white;
  margin-top: 74px;
}

.mainPageName {
  font-size: 86px;
  font-weight: 700;
  background: linear-gradient(to bottom, #ffb967, #f46539);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.mainPageName2 {
  font-size: 300px;
  font-weight: 700;
  background: linear-gradient(to bottom, #ffb967, #f46539);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 30px;
  margin-top: -40px;
}

.mainPageFullName{
  text-align: center;
  margin-top: 60px;
}
