.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 70px;
  height: 20%;
  margin-bottom: 55px;
  background-color: white;
  margin-top: 87px;
}

.pageName {
  font-size: 7vw;
  font-weight: 700;
  color: #ffb67d;
  padding-bottom: 30px;
}

.pageNavigation {
  font-size: 1vw;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.pageNavigation > * {
  text-decoration: none;
  color: black;
}

.pageNavigationMain{
  margin-right: 5px;
}

.pageNavigationName{
  margin-left: 5px;
}
