@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0% 5%;
  border-radius: 70px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 1465px;
}

.assistantConstainer {
  align-items: center;
  flex-direction: column;
  width: 650px;
  padding-bottom: 150px;
  object-fit: contain;
  z-index: 2;
}

.assistantLinkedConstainer {
  z-index: 2;
}

.leftSide,
.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: fadeIn 1.5s ease-in-out;
}

.leftSide > *,
.rightSide > * {
  margin: 3% 0%;
}
