.button{
    background-color: rgba(18, 125, 203, 1);
    border-radius: 50px;
    border-style: none;
    width: 40%;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-left: 50%;
}