.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  background-color: #ffb67d;
  box-shadow: 0px 2px 6px 0px rgba(149, 130, 92, 0.3);
  z-index: 10;
}

.header > div {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.headerAddress {
  grid-column: 1 / 7;
  margin-left: 110px;
  justify-self: start;
}

.headerPhone {
  grid-column: 8 / 11;
  padding-right: 0px !important;
  margin-left: 90px;
  min-width: 220px;
  justify-self: end;
}

.headerContacts {
  grid-column: 11 / 12;
  padding-right: 0px !important;
  margin-right: 40px;
  justify-self: center;
}

.headerContacts a {
  text-decoration: none;
  color: black;
}

.soundSwitchButton {
  grid-column: 12;
}
