.header {
  position: fixed;
  top: 0;
  max-width: 1640px;
  min-width: 1650px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffb67d;
  z-index: 10;
  height: 74px;
  align-items: center;
  padding: 0;
  /*box-shadow: 0px 4px 4px 0px rgba(131, 125, 114, 0.3); */
}

.header2{
  width: 100%;
  justify-content: space-between !important;
  display: flex !important;
}

.header3{
  align-items: center !important;
  display: flex !important;
  box-sizing: inherit;
  margin-right: 60px;
}

.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.headerAddress {
  grid-column: 1 / 7;
  margin-left: 30px;
  justify-self: start;
}

.headerPhone {
  grid-column: 8 / 11;
  padding-right: 0px !important;
  margin-left: 90px;
  min-width: 220px;
  justify-self: end;
}

.headerContacts {
  grid-column: 11 / 12;
  padding-right: 0px !important;
  margin-right: 40px;
  justify-self: center;
}

.headerContacts a {
  text-decoration: none;
  color: black;
}

.soundSwitchButton {
  grid-column: 12;
}
