.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  background-color: #ffb67d;
  box-shadow: 0px 2px 6px 0px rgba(149, 130, 92, 0.3);
  z-index: 10;
}

.header > div {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.headerAddress {
  grid-column: 1 / 5;
  margin-left: 30px;
}

.headerPhone {
  grid-column: 9 / 11;
  padding-right: 0px !important;
  margin-left: 90px;
  min-width: 220px;
}

.headerContacts {
  grid-column: 11 / 13;
  padding-right: 0px !important;
  margin-right: 130px;
}

.headerContacts a {
  text-decoration: none;
  color: black;
}
