.footerInformation {
  display: grid;
  width: 90%;
  grid-template-columns: 31% 45% auto;
  margin-left: 5%;
  margin-top: 2%;
  font-weight: 600;
  font-size: 18px;
}

.footerLeftPartNumber {
  margin-top: 8%;
}

.footerCenterPart {
  display: flex;
  flex-direction: column;
}

.footerCenterPart > div > * {
  text-decoration: none;
  color: black;
}

.footerCenterPart > :nth-child(2),
.footerCenterPart > :nth-child(3),
.footerCenterPart > :nth-child(4) {
  margin-top: 3%;
}

.footerCenterPart > :nth-child(4) {
  margin-bottom: 10%;
}

.footerRightPartCallNumber {
  background-color: white;
  width: 70%;
  height: 40%;
  border-radius: 30px;
  margin-left: 16%;
  align-content: center;
}

.footerRightPartText {
  text-align: center;
}

.bottomLine {
  background-color: black;
  height: 2px;
  margin-bottom: 3%;
}
