body {
  display: flex;
  justify-content: center;
  background-color: #ffb67d;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
