.mainPhrasePsicholog{
    display: flex;
    min-width: 1728px;
    background-color: rgba(147, 201, 240, 0.8);
    height: 1100px;
    border-radius: 70px;
    justify-content: center;
    display:inline-block;
}

.PhrasePsicholog1{
    display: flex;
    width: 1650px;
    text-align: center;
    background-color: white;
    border-radius: 60px;
    height: 110px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: 400;
    margin-left: 39px;
}

.textPsicholog{
    text-align: center;
    align-items: center;
}
